// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

$font: 'Lato', Helvetica, Arial, sans-serif;

$title-font: 'Rochester', sans-serif; //'Permanent Marker', 'Delius', 'Roboto Slab', sans-serif;
$title-font-size: 4.2em;
$title-font-weight: 400;
$mobile-title-font-size: 3.2em;

$subtitle-font: 'Permanent Marker', sans-serif;
$subtitle-font-size: 2.2em;

$headline-font: 'Lato', sans-serif;
$headline-weight: 700;

$mono: Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
