/* line 3, ../../../../_assets/themes/minime/css/homepage.scss */
#homepage ul.social {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 7, ../../../../_assets/themes/minime/css/homepage.scss */
#homepage ul.social li {
  display: inline;
  margin-left: 0.2em;
}
/* line 10, ../../../../_assets/themes/minime/css/homepage.scss */
#homepage ul.social li:first-child {
  margin-left: 0;
}
