/* To use the light Solarized highlighting theme uncomment the following line */
/* If you want to tweak the Solarized colors you can do that here */
/* Non highlighted code colors */
/* non highlighted code colors */
/* line 75, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header {
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 40px 0;
}
/* line 80, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header h1, #main-header .picture, #main-header .links {
  margin-top: 20px;
}
/* line 83, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header h1 > a {
  color: #ecf0f1;
  text-decoration: none;
}
/* line 87, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header h2 {
  color: #34495e;
}
/* line 90, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header .picture {
  width: 192px;
  height: 192px;
}
/* line 95, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header .links .btn {
  color: #2c3e50;
  background-color: #ecf0f1;
}
/* line 98, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header .links .btn:hover {
  background-color: #e74c3c;
  color: white;
}

/* line 106, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.language-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #eeeeee;
  text-decoration: none;
}
/* line 112, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.language-switch:hover {
  color: #f1c40f;
}

/* line 117, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-footer {
  background-color: #222222;
  color: #ecf0f1;
  text-align: center;
  padding: 40px 0;
}

/* line 124, ../../../../_assets/themes/flathead/css/base/_theme.scss */
body {
  background-color: #fafafa;
  color: #222222;
}

/* line 129, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section {
  padding: 40px 0;
}
/* line 131, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section .section-header {
  text-align: center;
  margin-bottom: 20px;
}
/* line 135, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section:nth-child(even) {
  background-color: #ecf0f1;
  color: #222222;
}
/* line 138, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section:nth-child(even) .tile {
  background-color: #ecf0f1;
  color: #222222;
}

/* line 145, ../../../../_assets/themes/flathead/css/base/_theme.scss */
a {
  color: #3498db;
}
/* line 147, ../../../../_assets/themes/flathead/css/base/_theme.scss */
a:hover {
  color: #1d6fa5;
}

/* line 176, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.navbar .brand {
  text-decoration: none;
}

/* line 182, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.variant-thinhead #main-header {
  padding: 0;
}
/* line 184, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.variant-thinhead #main-header h2 {
  color: #ecf0f1;
  display: inline;
  margin: 0;
  position: relative;
  top: 4px;
}
/* line 190, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.variant-thinhead #main-header h2:hover {
  color: #f1c40f;
}
/* line 194, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.variant-thinhead #main-header .picture {
  margin: 0 20px 0 0;
  width: 50px;
  height: 50px;
  vertical-align: top;
}
/* line 200, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.variant-thinhead #main-header .navbar .nav > li > a {
  padding: 29px 15px 32px;
}
/* line 202, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.variant-thinhead #main-header .navbar .nav > li > a:hover {
  color: #f1c40f;
}
/* line 206, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.variant-thinhead #main-header .navbar .divider-vertical {
  height: 81px;
  border-left-color: #2c3e50;
  border-right-color: transparent;
}

/* line 214, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.pagination {
  text-align: center;
}
/* line 216, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.pagination ul {
  background-color: #34495e;
}
/* line 220, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.pagination ul > li.previous > a, .pagination ul > li.previous > span, .pagination ul > li.next > a, .pagination ul > li.next > span, .pagination ul > li.archive > a, .pagination ul > li.archive > span {
  margin: 0;
}
/* line 222, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.pagination ul > li.previous > a:hover, .pagination ul > li.previous > a :focus, .pagination ul > li.previous > span:hover, .pagination ul > li.previous > span :focus, .pagination ul > li.next > a:hover, .pagination ul > li.next > a :focus, .pagination ul > li.next > span:hover, .pagination ul > li.next > span :focus, .pagination ul > li.archive > a:hover, .pagination ul > li.archive > a :focus, .pagination ul > li.archive > span:hover, .pagination ul > li.archive > span :focus {
  background-color: #2c3e50;
  color: #f1c40f;
}
/* line 229, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.pagination ul > li.archive > a, .pagination ul > li.archive > span {
  background: transparent;
  border: none;
  padding: 11px 27px 12px;
  box-shadow: none !important;
  border-radius: 0;
}
/* line 237, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.pagination ul > li.archive:first-child > a, .pagination ul > li.archive:first-child > span {
  border-radius: 6px 0 0 6px;
}
/* line 242, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.pagination ul > li.archive:last-child > a, .pagination ul > li.archive:last-child > span {
  border-radius: 0 6px 6px 0;
}
/* line 247, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.pagination ul > li.archive:first-child:last-child > a, .pagination ul > li.archive:first-child:last-child > span {
  border-radius: 6px;
}

/* line 11, ../../../../_assets/themes/flathead/css/base/_typography.scss */
body {
  font-size: 16px;
  line-height: 1.4;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
/* line 15, ../../../../_assets/themes/flathead/css/base/_typography.scss */
body > header h1 {
  font-size: 4.2em;
  font-family: "Rochester", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}
/* line 21, ../../../../_assets/themes/flathead/css/base/_typography.scss */
body > header h2 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 2.2em;
}

/* line 29, ../../../../_assets/themes/flathead/css/base/_typography.scss */
.variant-thinhead #main-header h2 {
  font-family: "Rochester", sans-serif;
  font-weight: 400;
}

/* line 37, ../../../../_assets/themes/flathead/css/base/_typography.scss */
.content-section .section-header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
}

@media (max-width: 767px) {
  /* line 5, ../../../../_assets/themes/flathead/css/custom/_style.scss */
  .container {
    padding: 0 20px;
  }

  /* line 8, ../../../../_assets/themes/flathead/css/custom/_style.scss */
  body {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 11, ../../../../_assets/themes/flathead/css/custom/_style.scss */
  body > header h1 {
    font-size: 3.2em;
  }

  /* line 15, ../../../../_assets/themes/flathead/css/custom/_style.scss */
  .tile {
    margin-bottom: 20px;
  }
}
/* line 21, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tags-list .tag {
  border-radius: 4px;
  background: #1abc9c;
  color: white;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 6px 13px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 33, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tags-list .tag.tag-info {
  background: #3498db;
}

/* line 39, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tile-icon {
  display: block;
  font-size: 96px;
  margin: 28px 0 32px;
  vertical-align: bottom;
  color: #2c3e50;
}
/* line 45, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tile-icon.big-icon {
  font-size: 112px;
  margin: 28px 0 16px;
}

/* line 50, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tile-image-title {
  margin-bottom: 10px;
}

/* line 54, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.nospam {
  display: none;
}

/* line 58, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.about-section p {
  font-size: 18px;
}
