/* To use the light Solarized highlighting theme uncomment the following line */
/* If you want to tweak the Solarized colors you can do that here */
/* Non highlighted code colors */
/* non highlighted code colors */
/* line 72, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header {
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 40px 0;
}
/* line 77, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header h1, #main-header .picture, #main-header .links {
  margin-top: 20px;
}
/* line 80, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header h1 > a {
  color: #ecf0f1;
  text-decoration: none;
}
/* line 84, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header h2 {
  color: #34495e;
}
/* line 87, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header .picture {
  width: 192px;
  height: 192px;
}
/* line 92, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header .links .btn {
  color: #2c3e50;
  background-color: #ecf0f1;
}
/* line 95, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header .links .btn:hover {
  background-color: #e74c3c;
  color: white;
}

/* line 103, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-footer {
  background-color: #222222;
  color: #ecf0f1;
  text-align: center;
  padding: 40px 0;
}

/* line 110, ../../../../_assets/themes/flathead/css/base/_theme.scss */
body {
  background-color: #fafafa;
  color: #222222;
}

/* line 115, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section {
  padding: 40px 0;
}
/* line 117, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section .section-header {
  text-align: center;
  margin-bottom: 20px;
}
/* line 121, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section.alternate {
  background-color: #ecf0f1;
  color: #222222;
}

/* line 11, ../../../../_assets/themes/flathead/css/base/_typography.scss */
body {
  line-height: 1.2;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
/* line 14, ../../../../_assets/themes/flathead/css/base/_typography.scss */
body > header h1 {
  font-size: 4.2em;
  font-family: "Rochester", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}
/* line 20, ../../../../_assets/themes/flathead/css/base/_typography.scss */
body > header h2 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 2.2em;
}

/* line 27, ../../../../_assets/themes/flathead/css/base/_typography.scss */
.content-section .section-header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
}

@media (max-width: 767px) {
  /* line 5, ../../../../_assets/themes/flathead/css/custom/_style.scss */
  .container {
    padding: 0 20px;
  }

  /* line 9, ../../../../_assets/themes/flathead/css/custom/_style.scss */
  body > header h1 {
    font-size: 3.2em;
  }
}
/* line 16, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tags-list .tag {
  border-radius: 4px;
  background: #1abc9c;
  color: white;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 6px 13px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 28, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tags-list .tag.tag-info {
  background: #3498db;
}

/* line 34, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tile-icon {
  display: block;
  font-size: 96px;
  margin: 28px 0 32px;
  vertical-align: bottom;
  color: #2c3e50;
}
/* line 40, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tile-icon.big-icon {
  font-size: 112px;
  margin: 28px 0 16px;
}
