/* To use the light Solarized highlighting theme uncomment the following line */
/* If you want to tweak the Solarized colors you can do that here */
/* Non highlighted code colors */
/* non highlighted code colors */
/* line 72, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header {
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 40px 0;
}
/* line 77, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header h1, #main-header .picture, #main-header .links {
  margin-top: 20px;
}
/* line 80, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header h1 > a {
  color: #ecf0f1;
  text-decoration: none;
}
/* line 84, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header h2 {
  color: #34495e;
}
/* line 87, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header .picture {
  width: 192px;
  height: 192px;
}
/* line 92, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header .links .btn {
  color: #2c3e50;
  background-color: #ecf0f1;
}
/* line 95, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-header .links .btn:hover {
  background-color: #e74c3c;
  color: white;
}

/* line 103, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.language-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #eeeeee;
  text-decoration: none;
}
/* line 109, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.language-switch:hover {
  color: #f1c40f;
}

/* line 114, ../../../../_assets/themes/flathead/css/base/_theme.scss */
#main-footer {
  background-color: #222222;
  color: #ecf0f1;
  text-align: center;
  padding: 40px 0;
}

/* line 121, ../../../../_assets/themes/flathead/css/base/_theme.scss */
body {
  background-color: #fafafa;
  color: #222222;
}

/* line 126, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section {
  padding: 40px 0;
}
/* line 128, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section .section-header {
  text-align: center;
  margin-bottom: 20px;
}
/* line 132, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section:nth-child(even) {
  background-color: #ecf0f1;
  color: #222222;
}
/* line 135, ../../../../_assets/themes/flathead/css/base/_theme.scss */
.content-section:nth-child(even) .tile {
  background-color: #ecf0f1;
  color: #222222;
}

/* line 142, ../../../../_assets/themes/flathead/css/base/_theme.scss */
a {
  color: #3498db;
}
/* line 144, ../../../../_assets/themes/flathead/css/base/_theme.scss */
a:hover {
  color: #1d6fa5;
}

/* line 11, ../../../../_assets/themes/flathead/css/base/_typography.scss */
body {
  font-size: 16px;
  line-height: 1.4;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
/* line 15, ../../../../_assets/themes/flathead/css/base/_typography.scss */
body > header h1 {
  font-size: 4.2em;
  font-family: "Rochester", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}
/* line 21, ../../../../_assets/themes/flathead/css/base/_typography.scss */
body > header h2 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 2.2em;
}

/* line 28, ../../../../_assets/themes/flathead/css/base/_typography.scss */
.content-section .section-header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
}

@media (max-width: 767px) {
  /* line 5, ../../../../_assets/themes/flathead/css/custom/_style.scss */
  .container {
    padding: 0 20px;
  }

  /* line 8, ../../../../_assets/themes/flathead/css/custom/_style.scss */
  body {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 11, ../../../../_assets/themes/flathead/css/custom/_style.scss */
  body > header h1 {
    font-size: 3.2em;
  }

  /* line 15, ../../../../_assets/themes/flathead/css/custom/_style.scss */
  .tile {
    margin-bottom: 20px;
  }
}
/* line 21, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tags-list .tag {
  border-radius: 4px;
  background: #1abc9c;
  color: white;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 6px 13px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 33, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tags-list .tag.tag-info {
  background: #3498db;
}

/* line 39, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tile-icon {
  display: block;
  font-size: 96px;
  margin: 28px 0 32px;
  vertical-align: bottom;
  color: #2c3e50;
}
/* line 45, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tile-icon.big-icon {
  font-size: 112px;
  margin: 28px 0 16px;
}

/* line 50, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.tile-image-title {
  margin-bottom: 10px;
}

/* line 54, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.nospam {
  display: none;
}

/* line 58, ../../../../_assets/themes/flathead/css/custom/_style.scss */
.about-section p {
  font-size: 18px;
}
