<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        <img src="{{ BASE_PATH }}/{{site.theme.flathead.header.avatar_small_image_path}}" class="img-circle picture" />
        <h2>{{ site.title }}</h2>
      </a>
      <ul class="nav pull-right">
        {% comment %}<li class="divider-vertical"></li>{% endcomment %}
        {% for link in site.theme.flathead.header.links %}
          {% comment %} TODO: Add more supported links {% endcomment %}
          {% case link %}
          {% when 'twitter' %}
            <li><a href="https://twitter.com/{{ site.author.twitter }}" title="My Twitter feed"><i class="icon-twitter"></i></a></li>
          {% when 'facebook' %}
            <li><a href="https://www.facebook.com/{{ site.author.facebook }}" title="My Facebook page"><i class="icon-facebook"></i></a></li>
          {% when 'google_plus' %}
            <li><a href="https://plus.google.com/{{ site.author.google_plus }}/posts" title="My Google+ profile"><i class="icon-google-plus"></i></a></li>
          {% when 'linkedin' %}
            <li><a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" title="My LinkedIn profile"><i class="icon-linkedin"></i></a></li>
          {% endcase %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!--
{% if page.fr_path %}
  <a href="{{ BASE_PATH }}{{ page.fr_path }}" class="language-switch">version française</a>
{% elsif page.en_path %}
  <a href="{{ BASE_PATH }}{{ page.en_path }}" class="language-switch">english version</a>
{% endif %}

<h2>
  {% if page.url == "/index.html" %}
    <img src="{{ BASE_PATH }}/{{site.theme.flathead.header.avatar_image_path}}" class="img-circle picture" />
    {{ site.title }}
  {% else %}
    <a href="{{ root_url }}/">
      <img src="{{ BASE_PATH }}/{{site.theme.flathead.header.avatar_image_path}}" class="img-circle picture" />
      {{ site.title }}
    </a>
  {% endif %}
</h2>
{% if site.tagline %}
  <h3>{{ site.tagline }}</h3>
{% endif %}
 -->
<!-- <div class="row links">
  <div class="span12">
    {% for link in site.theme.flathead.header.links %}
      {% comment %} TODO: Add more supported links {% endcomment %}
      {% case link %}
      {% when 'twitter' %}
        <a class="btn" href="https://twitter.com/{{ site.author.twitter }}" title="My Twitter feed"><i class="icon-twitter"></i></a>
      {% when 'facebook' %}
        <a class="btn" href="https://www.facebook.com/{{ site.author.facebook }}" title="My Facebook page"><i class="icon-facebook"></i></a>
      {% when 'google_plus' %}
        <a class="btn" href="https://plus.google.com/{{ site.author.google_plus }}/posts" title="My Google+ profile"><i class="icon-google-plus"></i></a>
      {% when 'linkedin' %}
        <a class="btn" href="http://www.linkedin.com/in/{{ site.author.linkedin }}" title="My LinkedIn profile"><i class="icon-linkedin"></i></a>
      {% endcase %}
    {% endfor %}
  </div>
</div> -->
