---
layout: blank
description: The official homepage of Michel Billard
keywords: Michel, Billard, web, website, development
---

%section.content-section
  .container
    .row
      .span4
        .tile
          %i.icon-globe.tile-icon.big-icon

          %h3.tile-title Web Expertise
          %p
            I'm very curious by nature and I'm always on the lookout for new technologies and techniques.
            I'm quick to adapt to new situations.

      .span4
        .tile
          %i.icon-lightbulb.tile-icon.big-icon

          %h3.tile-title Business Sense
          %p
            I've worked on all aspects of web projects, ranging from business analysis, strategy, interaction design and high-level design to down-to-earth back-end and front-end development.

      .span4
        .tile
          %i.icon-signal.tile-icon.big-icon

          %h3.tile-title Full Stack
          %p
