<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} // {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- stylesheets -->
    {% css_asset_tag style %}
    - /_assets/flathead/css/bootstrap.scss
    - /_assets/flathead/css/bootstrap-responsive.scss
    - /_assets/flathead/css/flat-ui.sass
    - /_assets/flathead/css/font-awesome.scss
    - /_assets/flathead/css/style.scss
    {% endcss_asset_tag %}

    <!-- fav and touch icons -->
    {% include custom/favicons.html %}

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <!-- custom head code -->
    {% include custom/head.html %}
  </head>
  <body>
    <header id="main-header">
      <div class="container">
        {% include themes/flathead/partials/header.html %}
      </div>
    </header>
    <div id="main">
      {{ content }}
    </div>
    <footer id="main-footer">
      <div class="container">
        {% include themes/flathead/partials/footer.html %}
      </div>
    </footer>
    {% include JB/analytics %}
    <!-- {% include after_footer.html %} -->
  </body>
</html>
