<!DOCTYPE html>
  {% include themes/flathead/partials/head.html %}
  <body{% if page.theme.variant %} class="variant-{{ page.theme.variant }}"{% endif %}>
    <header id="main-header">
      {% case page.theme.variant %}
      {% when 'thinhead' %}
        {% include themes/flathead/partials/thinheader.html %}
      {% else %}
        {% include themes/flathead/partials/header.html %}
        </div>
      {% endcase %}
    </header>
    <div id="main">
      {{ content }}
    </div>
    <footer id="main-footer">
      <div class="container">
        {% include themes/flathead/partials/footer.html %}
      </div>
    </footer>
    {% include JB/analytics %}
    <!-- {% include after_footer.html %} -->
  </body>
</html>
