<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="span10 offset1">
        <header class="post">
          <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
        </header>

        <div class="date muted">
          <span>{{ page.date | date: "%A %B %e %Y" }}</span>
        </div>

        <div class="body">
          {{ content }}
        </div><!-- / .body -->

        {% if site.theme.flathead.display_post_categories %}
          {% unless page.categories == empty %}
          <ul class="tag_box inline">
            <li><i class="icon-folder-open"></i></li>
            {% assign categories_list = page.categories %}
            {% include JB/categories_list %}
          </ul>
          {% endunless %}
        {% endif %}

        {% if site.theme.flathead.display_post_tags %}
          {% unless page.tags == empty %}
          <ul class="tag_box inline">
            <li><i class="icon-tags"></i></li>
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
          </ul>
          {% endunless %}
        {% endif %}

        <hr>
        <div class="pagination">
          <ul>
          {% if page.previous %}
            <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"><i class="icon-chevron-left"></i> {{ page.previous.title | truncate: 20, '…' }}</a></li>
          {% else %}
            <!-- <li class="previous disabled"><span><i class="icon-chevron-left"></i> Previous</span></li> -->
          {% endif %}
            <li class="archive"><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
          {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title | truncate: 20, '…' }} <i class="icon-chevron-right"></i></a></li>
          {% else %}
            <!-- <li class="next disabled"><span>Next <i class="icon-chevron-right"></i></span></li> -->
          {% endif %}
          </ul>
        </div><!-- / .pagination -->
        <hr>
        {% include JB/comments %}
      </div><!-- / .span12 -->
    </div><!-- / .row -->
  </div><!-- / .container -->
</section><!-- / .content-section -->
