---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout title="Fez">
  <img
    src="/assets/fez/fez_wallpaper_opt.jpg"
    alt="Wallpaper for the Fez game"
    width="100%"
  />

  <p>
    On April 13, 2012 the long awaited indie game Fez was released. The goal of
    the game is to explore the environment, solve puzzles, and collect cubes.
    The game is a 2d side-scroller living in a 3d environment.
  </p>
  <p>
    One puzzle stumped players who just couldn't figure out the solution. This
    project was my contribution to help finding the solution by leveraging the
    community by attempting all the possible combinations.
  </p>
  <p>Check out my blog post and the press articles for more information.</p>

  <h2>Links</h2>
  <dl>
    <dt>Blog post</dt>
    <dd>
      <a href="/posts/crowdsourced-brute-forcing-fez"
        >Crowdsourced brute-forcing: how Fez was a coop game for a couple of
        hours</a
      >
    </dd>

    <dt>Source code</dt>
    <dd>
      <a href="https://github.com/mbillard/fez_monolith"
        >mbillard/fez_monolith</a
      >
    </dd>
  </dl>

  <h2>Press</h2>
  <dl>
    <dt>Ars Technica</dt>
    <dd>
      <a
        href="http://arstechnica.com/gaming/news/2012/04/why-it-took-almost-a-week-for-the-world-to-completely-finish-fez.ars"
        >Practically impossible: The quest to decipher Fez‘s cryptic final
        puzzle</a
      >
    </dd>
    <dd>
      <blockquote>
        One player even developed a De Brujin graph Web application to drive
        collaborative testing of tens of thousands of possible solutions.
      </blockquote>
    </dd>
    <dl>
      <dt>Kotaku</dt>
      <dd>
        <a
          href="http://kotaku.com/5903095/ridiculously-obscure-black-monolith-in-fez-rallies-gamers-to-a-group-effort"
          >Ridiculously Obscure "Black Monolith" in Fez Rallies Gamers To A
          Group Effort</a
        >
      </dd>
      <dd>
        <blockquote>
          In the midst of some seemingly trolling solutions found online, one
          group effort is born. Gamers are standing in the middle of the "1"
          square (only viewable in first-person mode) in the monolith room and
          inputing various codes for verification. If this brute force method is
          successful, participants will indicate so on the recently created
          website in the hopes that an answer will reveal itself by process of
          elimination.
        </blockquote>
      </dd>
    </dl>
    <dl>
      <dt>YouTube</dt>
      <dd>
        <a href="http://www.youtube.com/watch?v=aH4BbMGPPZU"
          >FEZ Secrets and Mysteries - FEZ Monolith Room Revealed!</a
        >
      </dd>
    </dl>
  </dl>
</ProjectLayout>
