---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout title="Survvit">
  <p>
    Back in 2011, I wanted to learn more about Ruby on Rails to potentially
    transition away from C#. I never shared it publicly, but I might revisit it
    someday and make it a real usable product.
  </p>
  <p>Check out my blog post for more information.</p>

  <h2>Links</h2>
  <dl>
    <dt>Blog post</dt>
    <dd>
      <a href="/posts/survvit-weekend-project">Survvit: my weekend project</a>
    </dd>
  </dl>
</ProjectLayout>
