$flat-turquoise: #1ABC9C;
$flat-green-sea: #16A085; // darker turquoise
$flat-emerland: #2ECC71; // green
$flat-nephritis: #27AE60; // dark green
$flat-peter-river: #3498DB; // light blue
$flat-belize-hole: #2980B9; // dark blue
$flat-amethyst: #9B59B6; // purple
$flat-wisteria: #8E44AD; // dark purple
$flat-wet-asphalt: #34495E; // dark marine blue
$flat-midnight-blue: #2C3E50; // very dark marine blue
$flat-sun-flower: #F1C40F; // yellow
$flat-orange: #F39C12;
$flat-carrot: #E67E22; // deeper orange
$flat-pumpkin: #D35400; // dark orange
$flat-alizarin: #E74C3C; // red
$flat-pomegranate: #C0392B; // dark red
$flat-clouds: #ECF0F1; // light gray
$flat-silver: #BDC3C7;
$flat-concrete: #95A5A6; // gray
$flat-asbestos: #7F8C8D; // dark gray
