<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} // {% endif %}{{ site.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <meta name="author" content="{{ site.author.name }}">

  <!-- Enable responsive viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- web fonts -->
  <link href='https://fonts.googleapis.com/css?family=Aldrich|Open+Sans:700,400' rel='stylesheet' type='text/css'>

  <!-- icon fonts -->
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- stylesheets -->
  <link href="{{ BASE_PATH }}/assets/themes/minime/css/style.css" rel="stylesheet">

  <!-- fav and touch icons -->
  {% include custom/favicons.html %}
</head>
