---
---

<nav class="main-nav">
  <a class="brand" href="/">Michel</a>
  <div>
    <!-- <li><a href="/projects">Projects</a></li>
    <li><a href="/experience">Experience</a></li> -->
    <a href="/fez">Fez</a>
    <a href="/survvit">Survvit</a>
    <!-- <li><a href="/iron-clays">Iron Clays</a></li>
    <li><a href="/better-calendars">Better Calendars</a></li> -->
  </div>
</nav>

<style>
  nav {
    max-width: var(--layout-width);
    margin: auto;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
  }

  .main-nav a {
    display: inline-block;
  }
  .main-nav a + a {
    margin-left: 1em;
  }
</style>
