---
import DropdownMenu from "../components/DropdownMenu.svelte";
import DropdownItem from "../components/DropdownItem.svelte";
---

<nav class="main-nav">
  <a class="brand" href="/">Michel</a>
  <div>
    <DropdownMenu title="Projects" client:only="svelte">
      <DropdownItem url="/fez">Fez</DropdownItem>
      <DropdownItem url="/survvit">Survvit</DropdownItem>
      <!-- <DropdownItem url="/iron-clays">Iron Clays</DropdownItem> -->
      <!-- <DropdownItem url="/better-calendars">Better Calendars</DropdownItem> -->
    </DropdownMenu>
    <!-- <DropdownMenu title="Work" client:only="svelte">
      <DropdownItem url="/aha">Aha!</DropdownItem>
      <DropdownItem url="/varagesale">VarageSale</DropdownItem> -->
    <!-- <DropdownItem url="/coachoasis">CoachOasis</DropdownItem>
      <DropdownItem url="/hint">Hint Innovcation</DropdownItem> -->
    <!-- </DropdownMenu> -->
  </div>
</nav>

<style>
  nav {
    max-width: var(--layout-width);
    margin: auto;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
  }
</style>
