---
import DropdownMenu from "../components/DropdownMenu.svelte";
import DropdownItem from "../components/DropdownItem.svelte";
---

<nav class="main-nav">
  <a class="brand" href="/">Michel</a>
  <div>
    <DropdownMenu title="Projects" client:only="svelte">
      <DropdownItem url="/fez">Fez</DropdownItem>
      <DropdownItem url="/survvit">Survvit</DropdownItem>
    </DropdownMenu>
    <!-- <li><a href="/projects">Projects</a></li>
    <li><a href="/experience">Experience</a></li> -->
    <!-- <a href="/fez">Fez</a>
    <a href="/survvit">Survvit</a> -->
    <!-- <li><a href="/iron-clays">Iron Clays</a></li>
    <li><a href="/better-calendars">Better Calendars</a></li> -->
  </div>
</nav>

<style>
  nav {
    max-width: var(--layout-width);
    margin: auto;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
  }
</style>
